.header__lang-link {
  text-decoration-line: none;
  font-style: normal;
  font-weight: 400;
  font-size: 1.13rem;
  line-height: 1.25rem;
  color: #ffffff;
  text-align: center;
  opacity: 1;
  transition: opacity 0.3s;
  display: inline-block;
  transform: translateY(0.25rem);
}
