.logo {
  min-width: 8.88rem;
  min-height: 2.63rem;
  background-image: url(../../images/header-logo.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .logo {
    min-width: 11rem;
    min-height: 3.25rem;
  }
}
