.cover {
  position: relative;
  width: 100vw;
  max-width: 1184px;
  overflow: hidden;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  background-image: url(../../images/cover-trains.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding-bottom: 69.45%;
  z-index: 50;
  }

.cover:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2A2C2F;
  opacity: 0.8;
  z-index: 0;
}

@media screen and (min-width: 768px) {
.cover {
  padding-bottom: 66.668%;
}
}

@media screen and (min-width: 1024px) {
  .cover {
    padding-bottom: 68.967%;
  }
  }

  @media screen and (min-width: 1280px) {
    .cover {
      padding-bottom: 62.5%;
      max-height: 740px;
    }
    }
